@font-face {
    font-family: Acquest-Script;
    src: url("../fonts/Acquest-Script.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-Black.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-Bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-Medium.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-Light.ttf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 300;
}

.mobile-closeicon:hover,
[class~=mobile-wrapper]>[class~=mobile-block]>a>[class~=logo]:hover,
a:hover,
.mobile-wrapper>.mobile-block>.menu>a>li.link:hover,
[class~=header]>[class~=header-content] [class~=logo]:hover,
.header>.header-content>.menu li.link:hover {
    cursor: pointer;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a[name='login'] {
    margin-top: 5vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>a>[class~=logo],
.mobile-wrapper>.mobile-closefield,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li,
.block {
    width: 100%;
}

.donate_fc1{
	width: 0px;
	height: 0px;
	border: 0px;
    border-radius: 0;
}

.donate_btn1 {
    color: black;
    background-color: white;
    height: 40px;
    width: 170px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px;
    padding: 8px 14px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

.donate_fgc1 {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-radius: 0px;
}

.donate_title {
    text-transform: uppercase;
    text-align: center;
    color: #171717;
    font-size: 1.571429rem;
    margin-bottom: 20px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    border-radius: 0;
}




.donate_btn:hover, .donate_btn:focus, .donate_btn.focus {
    color: black;
    background-color: white;
    border-color: #b7bec5;
}

.mobile-wrapper>.mobile-block>.menu,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box],
.block {
    display: flex;
}

[class~=mobile-wrapper]>[class~=mobile-block]>a,
.mobile-wrapper>.mobile-block>.menu {
    width: 80%;
}

[class~=mobile-closeicon][class~=active] {
    background-image: url("../img/icons/close.svg");
}

.mobile-wrapper>.mobile-block>.menu,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box],
.block {
    flex-direction: column;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>p {
    margin-top: 1vh;
}

.block {
    justify-content: center;
}

.mobile-wrapper>.mobile-block>.menu>a>li.link:hover {
    color: rgba(0, 0, 0, .85);
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar] {
    width: 8vh;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link][class~=active]:after,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li[class~=link][class~=active]:after {
    content: "";
}

.mobile-wrapper>.mobile-closefield,
[class~=mobile-wrapper]>[class~=mobile-block]>a>[class~=logo] {
    height: 100%;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]:hover>p {
    color: black;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>p {
    color: rgba(170, 170, 170, 1);
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>p {
    font-size: 2vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar] {
    height: 8vh;
}

.block,
[class~=mobile-wrapper]>[class~=mobile-block]>a>[class~=logo] {
    background-repeat: no-repeat;
}

.mobile-wrapper>.mobile-closefield,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li[class~=link][class~=active]:after,
[class~=header]>[class~=header-content]>[class~=menu] li[class~=link][class~=active]:after {
    position: absolute;
}

.mobile-wrapper>.mobile-block>.menu,
.block,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box] {
    align-items: center;
}

a:visited {
    text-decoration: none;
}

.mobile-wrapper>.mobile-closefield,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li[class~=link][class~=active]:after,
[class~=header]>[class~=header-content]>[class~=menu] li[class~=link][class~=active]:after {
    left: 0;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar] {
    background-color: rgba(170, 170, 170, 1);
}

.mobile-wrapper>.mobile-closefield {
    z-index: 1;
}

body {
    font-family: OpenSans;
}

.block {
    background-size: cover;
}

.block,
[class~=mobile-wrapper]>[class~=mobile-block]>a>[class~=logo] {
    background-position: center;
}

.block {
    overflow: hidden;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar],
.block {
    position: relative;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box],
.mobile-wrapper>.mobile-block>.menu {
    justify-content: flex-start;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>p,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright] {
    font-family: GothamPro;
}

[class~=mobile-wrapper]>[class~=mobile-block]>a>[class~=logo] {
    background-size: contain;
}

.mobile-wrapper>.mobile-block>.menu .login-box:hover>.avatar {
    background: linear-gradient(to right, rgba(0, 107, 223, 1), rgba(0, 174, 237, 1));
}

body,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>p {
    font-weight: 300;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>p {
    transition: color 150ms ease;
}

[class~=header]>[class~=header-content]>[class~=menu] a:first-child {
    margin-left: 0;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li[class~=link][class~=active]:after,
.mobile-wrapper>.mobile-closefield {
    top: 0;
}

[class~=mobile-closeicon] {
    position: fixed;
}

[class~=header]>[class~=header-content]>[class~=menu] a[name='donate'] {
    margin-left: 3.5vw;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright] {
    font-weight: 200;
}

[class~=mobile-closeicon] {
    z-index: 106;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright] {
    color: white;
}

.mobile-wrapper>.mobile-closefield {
    background: rgba(255, 255, 255, .95);
}

[class~=mobile-closeicon] {
    width: 3vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright],
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a,
[class~=header]>[class~=header-content]>[class~=menu] li[class~=link][class~=active]:after,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    width: 100%;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar] {
    border-radius: 50%;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright] {
    font-size: 1.3vh;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    color: rgba(0, 230, 153, 1);
}

[class~=mobile-wrapper]>[class~=mobile-block] {
    width: 85%;
}

[class~=mobile-wrapper]>[class~=mobile-block],
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    height: 80%;
}

[class~=mobile-wrapper]>[class~=mobile-block],
body {
    background: gold;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-left-width: .25vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>a {
    height: 5vh;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-bottom-width: .25vh;
}

[class~=mobile-closeicon] {
    height: 3vh;
}

[class~=mobile-wrapper]>[class~=mobile-block] {
    position: absolute;
}

[class~=mobile-wrapper]>[class~=mobile-block] {
    z-index: 2;
}

[class~=mobile-wrapper]>[class~=mobile-block] {
    top: 30%;
}

[class~=mobile-wrapper]>[class~=mobile-block],
.header>.header-content,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar],
.header>.header-content>.menu .login-box {
    display: flex;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar],
[class~=mobile-wrapper]>[class~=mobile-block] {
    flex-direction: column;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright] {
    background: rgba(0, 141, 230, 1);
}

[class~=mobile-closeicon] {
    top: 3.5vh;
}

[class~=mobile-wrapper]>[class~=mobile-block] {
    left: 50%;
}

[class~=mobile-closeicon] {
    right: 3.5vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img],
[class~=mobile-closeicon] {
    background-size: contain;
}

[class~=mobile-closeicon] {
    display: none;
}

[class~=mobile-wrapper]>[class~=mobile-block]>a>[class~=logo] {
    background-image: url("img/logo1.png");
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img],
[class~=mobile-closeicon] {
    background-repeat: no-repeat;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-right-width: .25vh;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-top-width: .25vh;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-left-style: solid;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link][class~=active]:after {
    bottom: -4.5vh;
}

[class~=mobile-wrapper]>[class~=mobile-block] {
    margin-left: -42.5%;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-bottom-style: solid;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    height: 4vh;
}

[class~=mobile-wrapper]>[class~=mobile-block] {
    margin-top: -40%;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-right-style: solid;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-top-style: solid;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link][class~=active]:after {
    height: .25vh;
}

button {
    font-family: OpenSans;
}

[class~=header]>[class~=header-content]>[class~=menu] a {
    margin-left: 2.5vw;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar] {
    justify-content: center;
}

.header>.header-content>.menu li.link:hover {
    color: rgba(0, 0, 0, .85);
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li[class~=link][class~=active]:after {
    width: .25vh;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-left-color: rgba(0, 230, 153, 1);
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    background-position: bottom;
}

[class~=header]>[class~=header-content]>[class~=menu] li {
    font-size: 1.6vh;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-bottom-color: rgba(0, 230, 153, 1);
}

[class~=mobile-wrapper]>[class~=mobile-block],
.header>.header-content {
    justify-content: space-between;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate],
[class~=mobile-wrapper]>[class~=mobile-block],
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar],
.header>.header-content {
    align-items: center;
}

.header>.header-content {
    width: 70%;
}

.header>.header-content {
    height: 12vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright] {
    height: 5vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar] {
    overflow: hidden;
}

.header>.header-content>.menu .login-box,
.header>.header-content,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright],
[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    flex-direction: row;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright] {
    letter-spacing: .75vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright] {
    text-align: center;
}

[class~=mobile-closeicon] {
    background-position: center;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar] {
    width: 2.75vh;
}

::-webkit-scrollbar {
    width: .5vw;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar] {
    height: 2.75vh;
}

[class~=mobile-closeicon] {
    background-image: url("../img/icons/bars.svg");
}

[class~=mobile-closeicon] {
    transition: background-image 350ms ease;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    background-image: url("../img/icons/user.svg");
}

button,
input {
    font-weight: 300;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img],
.footer>.content,
[class~=mobile-wrapper],
[class~=header] {
    width: 100%;
}

[class~=mobile-wrapper] {
    height: 100%;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-right-color: rgba(0, 230, 153, 1);
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-top-color: rgba(0, 230, 153, 1);
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar] {
    background-color: rgba(170, 170, 170, 1);
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    border-image: none;
}

[class~=header]>[class~=header-content]>[class~=menu] li,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    font-family: GothamPro;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    font-size: 2vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>a {
    margin-top: 3.5vh;
}

[class~=mobile-wrapper] {
    position: fixed;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link][class~=active]:after,
[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]:hover>[class~=avatar] {
    background: linear-gradient(to right, rgba(0, 107, 223, 1), rgba(0, 174, 237, 1));
}

[class~=mobile-wrapper] {
    top: 0;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright],
[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate],
[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar],
.footer>.content {
    display: flex;
}

[class~=mobile-wrapper] {
    left: 0;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar] {
    position: relative;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img],
[class~=header] {
    position: absolute;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    font-weight: 200;
}

input,
select {
    font-family: OpenSans;
}

[class~=mobile-wrapper] {
    z-index: 105;
}

[class~=mobile-wrapper] {
    display: none;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    height: 3.5vh;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar] {
    flex-direction: column;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    bottom: -.1vh;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate]:hover {
    cursor: pointer;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright],
.header>.header-content>.menu li.start,
[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar],
.footer>.content,
[class~=header],
[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    justify-content: center;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link]:hover:after,
.mobile-wrapper>.mobile-block>.menu>a>li.link:hover:after {
    content: "";
}

.header>.header-content>.menu li.start,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    color: black;
}

[class~=header],
.header>.header-content>.menu li.start {
    display: flex;
}

[class~=header]>[class~=header-content]>[class~=menu],
.footer>.content,
[class~=header],
.header>.header-content>.menu li.start {
    flex-direction: row;
}

.header>.header-content>.menu li.start,
[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    padding-left: 1.35vh;
}

.footer>.content,
.header>.header-content>.menu li.start,
[class~=header],
[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar],
[class~=footer],
.header>.header-content>.menu .login-box,
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=copyright],
[class~=header]>[class~=header-content]>[class~=menu] {
    align-items: center;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate],
.header>.header-content>.menu li.start {
    padding-right: 1.35vh;
}

.header>.header-content>.menu li.start,
[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate] {
    transition: color 150ms ease;
}

[class~=header]>[class~=header-content]>[class~=menu],
[class~=footer]>[class~=content]>[class~=menus]>[class~=menu],
[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li[class~=link][class~=active]:after,
[class~=header]>[class~=header-content] [class~=logo] {
    height: 100%;
}

[class~=header]>[class~=header-content]>[class~=menu] a[name='start'] {
    margin-left: 1vw;
}

.header>.header-content>.menu li.start {
    height: 4vh;
}

[class~=header]>[class~=header-content] [class~=logo] {
    width: 10%;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li[class~=link][class~=active]:after {
    background: linear-gradient(to top, rgba(0, 107, 223, 1), rgba(0, 174, 237, 1));
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img],
.header>.header-content>.menu li.start,
[class~=header]>[class~=header-content] [class~=logo],
.footer>.content .logo {
    background-repeat: no-repeat;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    position: relative;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    transition: color 200ms ease;
}

.footer>.content {
    background: rgba(30, 30, 30, 1);
}

[class~=header] {
    top: 0;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img],
[class~=header]>[class~=header-content] [class~=logo] {
    background-size: contain;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    height: 80%;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link]:hover:after,
.mobile-wrapper>.mobile-block>.menu>a>li.link:hover:after {
    position: absolute;
}

[class~=header] {
    left: 0;
}

.footer>.content {
    height: 22.5vh;
}

.header>.header-content>.menu li.start,
[class~=header]>[class~=header-content] [class~=logo] {
    background-position: center;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar] {
    overflow: hidden;
}

[class~=header]>[class~=header-content] [class~=logo] {
    background-image: url("../img/logo.png");
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    text-align: center;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu]:first-child {
    margin-left: 0;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    letter-spacing: .1vh;
}

.header>.header-content>.menu .login-box>p,
.footer>.copyright {
    font-family: GothamPro;
}

[class~=header]>[class~=header-content]>[class~=menu] li {
    font-weight: 400;
}

.header>.header-content>.menu li.start {
    background-size: cover;
}

select {
    font-weight: 300;
}

.header>.header-content>.menu .login-box {
    justify-content: flex-start;
}

.footer>.copyright {
    font-weight: 200;
}

[class~=footer],
[class~=footer]>[class~=content]>[class~=menus],
[class~=footer]>[class~=content]>[class~=menus]>[class~=menu],
[class~=header]>[class~=header-content]>[class~=menu] {
    display: flex;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    padding-top: 2vh;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    border-bottom-width: .15vh;
}

.header>.header-content>.menu li.start {
    background-image: url("../img/icons/lines.svg");
}

[class~=header] {
    z-index: 100;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=start]:hover,
[class~=footer]>[class~=content] [class~=logo]:hover {
    cursor: pointer;
}

[class~=header]>[class~=header-content]>[class~=menu] a[name='login'] {
    margin-left: 1vw;
}

[class~=footer],
.footer>.copyright {
    width: 100%;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    border-bottom-style: solid;
}

[class~=header]>[class~=header-content]>[class~=menu] li {
    color: black;
}

option,
textarea {
    font-family: OpenSans;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    background-position: bottom;
}

[class~=footer],
[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] {
    flex-direction: column;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate]:hover {
    background: linear-gradient(to right, rgba(0, 230, 153, 1), rgba(105, 238, 188, 1));
}

[class~=footer],
[class~=header]>[class~=header-content]>[class~=menu] {
    justify-content: center;
}

.header>.header-content>.menu .login-box>p {
    margin-left: .5vw;
}

.footer>.copyright {
    color: rgba(255, 255, 255, .75);
}

.header>.header-content>.menu .login-box>p {
    color: rgba(170, 170, 170, 1);
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=donate]:hover {
    color: white;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    border-bottom-color: rgba(0, 0, 0, .05);
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] li,
.header>.header-content>.menu .login-box>p {
    font-size: 1.5vh;
}

.footer>.content .logo {
    width: 20vh;
}

.footer>.copyright {
    font-size: 1.3vh;
}

[class~=footer]>[class~=content]>[class~=menus],
.footer>.content .logo {
    height: 100%;
}

[class~=footer],
[class~=header]>[class~=header-content]>[class~=menu] li {
    position: relative;
}

[class~=mobile-wrapper]>[class~=mobile-block]>[class~=menu]>a>li {
    border-image: none;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    background-image: url("../img/icons/user.svg");
}

.mobile-wrapper>.mobile-block>.menu>a>li.link:hover:after,
[class~=header]>[class~=header-content]>[class~=menu] li[class~=link]:hover:after {
    left: 0;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link]:hover:after,
[class~=header]>[class~=header-content]>[class~=menu] li[class~=start]:hover {
    background: linear-gradient(to right, rgba(0, 107, 223, 1), rgba(0, 174, 237, 1));
}

[class~=footer] {
    z-index: 7;
}

.footer>.copyright {
    background: rgba(18, 18, 18, 1);
}

.footer>.content .logo {
    background-size: contain;
}

.footer>.content .logo {
    background-position: center;
}

.footer>.content .logo {
    background-image: url("../img/logo-dark.png");
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    position: absolute;
}

.footer>.copyright {
    height: 5vh;
}

.footer>.copyright {
    letter-spacing: .75vh;
}

textarea,
[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] li,
option,
.header>.header-content>.menu .login-box>p {
    font-weight: 300;
}

.header>.header-content>.menu .login-box>p {
    transition: color 150ms ease;
}

::-webkit-scrollbar-track {
    background: rgba(0, 141, 230, .5);
}

.mobile-wrapper>.mobile-block>.menu>a>li.link:hover:after {
    top: 0;
}

.footer>.copyright,
[class~=header]>[class~=header-content]>[class~=menu] li {
    text-align: center;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] a {
    margin-top: 2.25vh;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] li {
    list-style-type: disc;
}

a {
    text-decoration: none;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link]:hover:after {
    bottom: -4.5vh;
}

::-webkit-scrollbar-track-piece {
    background: rgba(0, 141, 230, .5);
}

[class~=footer]>[class~=content]>[class~=menus],
.footer>.copyright {
    flex-direction: row;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] li {
    color: rgba(129, 129, 129, 1);
}

.footer>.copyright {
    display: flex;
}

.mobile-wrapper>.mobile-block>.menu>a>li.link:hover:after {
    width: .25vh;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] li {
    transition: color 250ms ease;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu],
.footer>.copyright,
[class~=footer]>[class~=content]>[class~=menus] {
    justify-content: center;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]>[class~=avatar]>[class~=img] {
    bottom: -.1vh;
}

.footer>.copyright,
[class~=footer]>[class~=content]>[class~=menus] {
    align-items: center;
}

[class~=header]>[class~=header-content]>[class~=menu] li {
    transition: color 200ms ease;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link]:hover:after {
    height: .25vh;
}

[class~=footer]>[class~=content]>[class~=menus] {
    margin-left: 20vw;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] li {
    font-family: GothamPro;
}

.mobile-wrapper>.mobile-block>.menu>a>li.link:hover:after {
    height: 100%;
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=link]:hover:after {
    width: 100%;
}

.mobile-wrapper>.mobile-block>.menu>a>li.link:hover:after {
    background: linear-gradient(to top, rgba(0, 107, 223, 1), rgba(0, 174, 237, 1));
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] {
    align-items: flex-start;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 141, 230, 1);
}

[class~=header]>[class~=header-content]>[class~=menu] li[class~=start]:hover {
    color: white;
}

[class~=header]>[class~=header-content]>[class~=menu] [class~=login-box]:hover>p {
    color: black;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] a:first-child {
    margin-top: 0;
}

.footer>.content>.menus>.menu li:hover {
    color: white;
}

[class~=footer]>[class~=content]>[class~=menus]>[class~=menu] {
    margin-left: 7.5vw;
}

@media screen and (max-device-aspect-ratio: 4/3) {
    [class~=header]>[class~=header-content] {
        width: 80%;
    }
}

@media screen and (orientation: portrait) {

    [class~=footer]>[class~=content],
    [class~=header] {
        display: none;
    }

    [class~=mobile-closeicon] {
        display: block;
    }
}